<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>Rental Confirmation</title>
</head>
<body>
<div class="container">
    <header th:include="menu.html">
    </header>
    <div class="jumbotron">
        <h2>Rental Confirmation</h2>
        <form action="#" th:action="@{/rentals/save}" th:object="${rental}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{user}" readonly/>
            <input type="hidden" th:field="*{rentalStatus}" readonly/>
            <!--<p>Car: <input type="text" th:field="*{car}" th:text="${rental.car.make} + ', ' + ${rental.car.model}" readonly/></p>-->
            <!--ten powyżej nie wyświetlał tekstu tylko id w ramce i tekst poza ramka-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" colspan="2"><h4>Summary</h4></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><label for="car">Car:</label></td>
                    <td><select id="car" class="custom-select" th:field="*{car}">
                        <option th:value="${rental.car.id}" th:text="${rental.car.make} + ' ' + ${rental.car.model}">
                        </option>
                    </select></td>
                </tr>
                <tr>
                    <td><label for="start_date">Pick up date:</label></td>
                    <td><input id="start_date" class="form-control" type="date" th:field="*{rentalDate}" readonly/></td>
                </tr>
                <tr>
                    <td><label for="end_date"> Drop of date:</label></td>
                    <td><input id="end_date" class="form-control" type="date" th:field="*{returnDate}" readonly/></td>
                </tr>
                <tr>
                    <td><label for="start_location">Pick up location:</label></td>
                    <td><select id="start_location" class="custom-select" th:field="*{rentalPlace}">
                        <option th:value="${rental.rentalPlace.id}"
                                th:text="${rental.rentalPlace.city} + ', ' + ${rental.rentalPlace.street} + ' ' + ${rental.rentalPlace.number}">
                        </option>
                    </select></td>
                </tr>
                <tr>
                    <td><label for="end_location">Drop off location:</label></td>
                    <td><select id="end_location" class="custom-select" th:field="*{returnPlace}">
                        <option th:value="${rental.returnPlace.id}"
                                th:text="${rental.returnPlace.city} + ', ' + ${rental.returnPlace.street} + ' ' + ${rental.returnPlace.number}">
                        </option>
                    </select></td>
                </tr>
                <tr>
                    <td><label for="total_price">Total price:</label></td>
                    <td><input id="total_price" class="form-control" type="text" th:value="${price} + ' zł'" readonly/></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" name="pressed-button" value="Save">Save</button>
            <button type="submit" class="btn btn-primary" name="pressed-button" value="Cancel">Cancel</button>
        </form>
    </div>
    <footer th:include="menu.html"></footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>