<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <title th:text="${text} + ' rental'">address</title>
</head>
<body>
<h2 th:text="${text} + ' rental'"><b>address</b></h2>
<form action="#" th:action="@{/rentals/save}" th:object="${rental}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p th:if="${userRole.equals('ROLE_ADMIN')}">User: <select th:field="*{user}">
        <option th:each="user : ${users}" th:value="${user}" th:text="${user.name} + ' ' + ${user.surname}"></option>
    </select></p>
    <p th:unless="${userRole.equals('ROLE_ADMIN')}"><input type="hidden" th:field="*{user.id}"/></p>
    <p>Car: <select th:field="*{car}">
        <option th:each="car : ${cars}" th:value="${car}" th:text="${car.make} + ' ' + ${car.model}">
        </option>
        </select></p>
    <p>Rental Date: <input type="date" th:field="*{rentalDate}"/></p>
    <p>Planned Date: <input type="date" th:field="*{returnDate}"/></p>
    <p><input type="submit" name="pressed-button" value="Save"/>
        <input type="submit" name="pressed-button" value="Cancel"/>
        <input type="reset" value="Reset"/></p>
</form>
</body>
</html>