<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h2 th:text="${text} + ' cars'">cars: </h2>
<h2 th th:if="${startDate!=null}" th:text="'between: ' + ${startDate} + ' - ' + ${endDate}"></h2>
<table>
    <thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Registration Number</th>
        <th>Door Number</th>
        <th>Gearbox</th>
        <th>Capacity</th>
        <th>Year</th>
        <th>Type</th>
        <th th:if="${userRole.equals('ROLE_ADMIN')}">Edit</th>
        <th th:if="${userRole.equals('ROLE_ADMIN')}">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.make}">Alabastrowa</td>
        <td th:text="${car.model}">30</td>
        <td th:text="${car.regNumber}">00-001</td>
        <td th:text="${car.doorNumber}">Warsaw</td>
        <td th:text="${car.gearbox}">Warsaw</td>
        <td th:text="${car.capacity}">Warsaw</td>
        <td th:text="${car.year}">Warsaw</td>
        <td th:text="${car.type.type}">Warsaw</td>
        <td th:if="${userRole.equals('ROLE_ADMIN')}"><a th:href="@{'/cars/edit/' + ${car.id}}">Edit</a> </td>
        <td th:if="${userRole.equals('ROLE_ADMIN')}"><a th:href="@{'/cars/delete-confirmation/' + ${car.id}}">Delete</a> </td>
        <td th:if="${startDate!=null}"><a th:href="@{'/rentals/rental-confirmation/' + ${car.id} + '/' + ${startDate} + '/' + ${endDate} }">Rent</a> </td>
    </tr>
    </tbody>
</table>

</body>
</html>