<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete confirmation</title>
</head>
<body>
<h2>Do you really want to delete car:</h2>
<h2 th:text="${carToAsk.make} + ' ' + ${carToAsk.model} + ', ' + ${carToAsk.regNumber} + ', ' + ${carToAsk.doorNumber} + ', ' + ${carToAsk.gearbox} + ', ' + ${carToAsk.capacity} + ', ' + ${carToAsk.year} + ', ' + ${carToAsk.type} + '?'"></h2>
<a th:href="@{'/cars/delete/' + ${carToAsk.id}}">Yes</a>&nbsp;&nbsp;<a th:href="@{/all-cars}">No</a>
</body>
</html>