<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <title th:text="${text} + ' user'">address</title>
</head>
<body>
<div class="container">
    <header th:include="menu.html">
    </header>
    <div class="jumbotron">
        <h2 th:text="${text} + ' user'"><b>address</b></h2>
        <form action="#" th:action="@{/user/save}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{role}"/>
            <input type="hidden" th:field="*{password}"/>
            <input type="hidden" th:field="*{addressId}"/>
            <input type="hidden" th:field="*{roleId}"/>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name:</label>
                <div class="col">
                    <input type="text" class="form-control" th:field="*{name}" id="name" aria-describedby="start_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="surname" class="col-sm-2 col-form-label">Surname:</label>
                <div class="col">
                    <input type="text" class="form-control" th:field="*{surname}" id="surname"
                           aria-describedby="start_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="login" class="col-sm-2 col-form-label">Login:</label>
                <div class="col">
                    <input type="text" class="form-control" th:field="*{login}" id="login"
                           aria-describedby="start_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col">
                    <input type="email" class="form-control" th:field="*{mail}" id="email"
                           aria-describedby="start_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
                <div class="col">
                    <input type="text" class="form-control" th:field="*{phone}" id="phone"
                           aria-describedby="start_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="street" class="col-sm-2 col-form-label">Street:</label>
                <div class="col">
                    <input type="text" class="form-control" th:field="*{street}" id="street"
                           aria-describedby="start_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="number" class="col-sm-2 col-form-label">Street number:</label>
                <div class="col">
                    <input type="number" class="form-control" th:field="*{number}" id="number"
                           aria-describedby="start_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="city" class="col-sm-2 col-form-label">City:</label>
                <div class="col">
                    <input type="text" class="form-control" th:field="*{city}" id="city"
                           aria-describedby="start_date">
                </div>
            </div>
            <div class="form-group row">
                <label for="zipCode" class="col-sm-2 col-form-label">ZipCode:</label>
                <div class="col">
                    <input type="text" class="form-control" th:field="*{zipCode}" id="zipCode"
                           aria-describedby="start_date">
                </div>
            </div>
            <button type="reset" class="btn btn-primary" name="pressed-button">Reset</button>
            <button type="submit" class="btn btn-primary" name="pressed-button" value="save">Save</button>
            <button type="submit" class="btn btn-primary" name="pressed-button" value="cancel">Cancel</button>
        </form>
    </div>
    <footer th:include="menu.html"></footer>
</div>
</body>
</html>