	header nav, footer nav, header .dropdown-menu, footer .dropdown-menu{
	background-color:#1a75ff;
	color:white;
	}
	
	footer nav a:link, footer nav a:visited, header nav a:link, header nav a:visited, footer .dropdown-menu a:link,
	footer .dropdown-menu a:visited, header .dropdown-menu a:link, header .dropdown-menu a:visited{
	color: white;
	}

	footer nav a:hover, header nav a:hover, header .dropdown-menu a:hover, footer .dropdown-menu a:hover{
	background-color:#66a3ff;
	}

	thead h4 {
		text-align: center;
	}

	.jumbotron {
		padding-top: 60px;
		padding-bottom: 60px;
		margin-bottom: 0;
	}

	#car-carousel {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.carousel-control-prev-icon { background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	}

	.carousel-indicators li {
		background-color: #a7a7a7;
	}

	.carousel-indicators .active {
		background-color: #000000;
	}
	.function {
		display: inline;
		float: right;
	}
