<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

</head>
<body>
<nav th:if="${userRole.equals('ROLE_ADMIN')}" class="nav nav-pills nav-justified">
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/all-cars">Fleet</a>
    <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/all-rentals">Rentals</a>
        <a class="dropdown-item" href="/all-types">Types</a>
        <a class="dropdown-item" href="/all-locations">Locations</a>
        <a class="dropdown-item" href="/all-users">Users</a>
    </div>
    <a class="nav-item nav-link" href="/user-details">Your account</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
</nav>
<nav th:unless="${userRole.equals('ROLE_ADMIN')}" class="nav nav-pills nav-justified">
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/all-cars">Fleet</a>
    <a class="nav-item nav-link" href="/all-rentals">Rentals</a>
    <a th:if="${userRole.equals('ROLE_GUEST')}" class="nav-item nav-link" href="/user/login">Login</a>
    <a th:unless="${userRole.equals('ROLE_GUEST')}" class="nav-item nav-link" href="/user-details">Your account</a>
    <a th:unless="${userRole.equals('ROLE_GUEST')}" class="nav-item nav-link" href="/logout">Logout</a>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>